Repository ThaADS/ADSapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

feat: WhatsApp-style chat UI with bubbles and sender names
  src/components/inbox/enhanced-message-list.tsx
Due: eslint --fix --max-warnings=0

feat: Add customizable chat bubble colors
  src/components/inbox/enhanced-message-list.tsx
Due: eslint --fix --max-warnings=0

fix: Correct conversation links from dashboard to inbox
  src/components/dashboard/recent-conversations.tsx
  src/components/inbox/enhanced-conversation-list.tsx
  src/components/inbox/whatsapp-inbox.tsx
Due: eslint --fix --max-warnings=0

feat: Performance optimizations and template system improvements
  BUTTON_IMPROVEMENTS_COMPLETE.md
  DEBUG_STATUS.md
  IMPLEMENTATION_COMPLETE.md
  RECENT_IMPROVEMENTS.md
  TAG_AND_COLOR_FEATURES_COMPLETE.md
  next.config.ts
  src/app/api/conversations/[id]/tags/[tagId]/route.ts
  src/app/api/conversations/[id]/tags/route.ts
  src/app/api/templates/route.ts
  src/app/dashboard/layout.tsx
  src/components/dashboard/nav.tsx
  src/components/inbox/bubble-color-picker.tsx
  src/components/inbox/conversation-tag-selector.tsx
  src/components/inbox/enhanced-message-input.tsx
  src/components/inbox/whatsapp-inbox.tsx
  src/lib/whatsapp/media-handler.ts
  src/lib/whatsapp/service.ts
  src/lib/whatsapp/templates.ts
  supabase/migrations/046_add_tags_to_conversations.sql
Due: eslint --fix --max-warnings=0, prettier --write

feat: Critical security improvements - Production hardening
  .env.example
  SECURITY_IMPROVEMENTS_2025-11-07.md
  next.config.ts
  src/app/api/auth/signin/route.ts
  src/app/api/auth/signup/route.ts
  src/app/api/webhooks/whatsapp/route.ts
  src/lib/middleware/whatsapp-webhook-validator.ts
  src/lib/supabase/server.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: Resolve Vercel build errors - TypeScript and ESLint fixes
  eslint.config.mjs
  package-lock.json
  package.json
  src/app/api/conversations/[id]/messages/route.ts
  src/app/api/conversations/[id]/tags/[tagId]/route.ts
  src/app/api/conversations/[id]/tags/route.ts
  src/types/database.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: Additional ESLint fixes for Vercel build
  eslint.config.mjs
  src/app/api/admin/security/metrics/route.ts
  src/components/billing/subscription-manager.tsx
Due: eslint --fix --max-warnings=0

feat: Comprehensive FAQ page + ESLint fix
  eslint.config.mjs
  src/app/faq/page.tsx
  src/app/page.tsx
Due: eslint --fix --max-warnings=0

fix: Disable ESLint during builds to fix Vercel deployment
  next.config.ts
  src/app/faq/page.tsx
Due: eslint --fix --max-warnings=0

fix: Correct Heroicons import names in revenue dashboard
  src/components/analytics/revenue-dashboard.tsx
Due: eslint --fix --max-warnings=0

feat: Implement comprehensive visual improvements for inbox interface
  COMPREHENSIVE_TEST_REPORT.md
  VISUAL_FIXES_IMPLEMENTATION_REPORT.md
  VISUAL_IMPROVEMENTS_REQUIRED.md
  src/components/inbox/conversation-details.tsx
  src/components/inbox/enhanced-conversation-list.tsx
  src/components/inbox/enhanced-message-list.tsx
  src/components/inbox/whatsapp-inbox.tsx
  supabase/migrations/20250108000000_add_bubble_color_preferences.sql
Due: eslint --fix --max-warnings=0, prettier --write

feat: Improve inbox UI readability and conversation list layout
  src/components/inbox/enhanced-conversation-list.tsx
  src/components/inbox/enhanced-message-list.tsx
Due: eslint --fix --max-warnings=0

feat: Implement collapsible mobile sidebar and complete inbox UI improvements
  src/app/dashboard/layout.tsx
  src/components/dashboard/header.tsx
  src/components/dashboard/layout-client.tsx
  src/components/dashboard/nav.tsx
  src/components/inbox/enhanced-message-input.tsx
  src/components/inbox/enhanced-message-list.tsx
Due: eslint --fix --max-warnings=0

feat: Implement Phase 1 - Drip Campaigns & Enhanced Analytics (Core)
  docs/features/PHASE_1_DRIP_CAMPAIGNS_ANALYTICS.md
  docs/features/PHASE_1_IMPLEMENTATION_STATUS.md
  src/app/api/cron/process-drip-messages/route.ts
  src/app/api/drip-campaigns/[id]/activate/route.ts
  src/app/api/drip-campaigns/[id]/enrollments/route.ts
  src/app/api/drip-campaigns/[id]/pause/route.ts
  src/app/api/drip-campaigns/[id]/route.ts
  src/app/api/drip-campaigns/[id]/steps/route.ts
  src/app/api/drip-campaigns/route.ts
  src/app/dashboard/drip-campaigns/page.tsx
  src/components/campaigns/drip-campaigns-list.tsx
  src/lib/schedulers/drip-message-scheduler.ts
  src/lib/whatsapp/drip-campaigns.ts
  supabase/migrations/041_drip_campaigns_and_analytics.sql
Due: eslint --fix --max-warnings=0, prettier --write

feat: Implement Phase 1 - Complete UI Layer for Drip & Broadcast Campaigns + Enhanced Analytics
  src/app/dashboard/analytics/agents/page.tsx
  src/app/dashboard/analytics/campaigns/page.tsx
  src/app/dashboard/broadcast/new/page.tsx
  src/app/dashboard/broadcast/page.tsx
  src/app/dashboard/drip-campaigns/new/page.tsx
  src/components/analytics/agent-leaderboard.tsx
  src/components/analytics/agent-performance-chart.tsx
  src/components/analytics/agent-performance-dashboard.tsx
  src/components/analytics/campaign-analytics-dashboard.tsx
  src/components/analytics/campaign-comparison-chart.tsx
  src/components/analytics/campaign-performance-chart.tsx
  src/components/analytics/message-engagement-chart.tsx
  src/components/campaigns/broadcast-campaign-builder.tsx
  src/components/campaigns/broadcast-campaigns-list.tsx
  src/components/campaigns/builder-steps/broadcast-audience-targeting.tsx
  src/components/campaigns/builder-steps/broadcast-basic-info.tsx
  src/components/campaigns/builder-steps/broadcast-message-composition.tsx
  src/components/campaigns/builder-steps/broadcast-review.tsx
  src/components/campaigns/builder-steps/broadcast-scheduling.tsx
  src/components/campaigns/builder-steps/campaign-basic-info.tsx
  src/components/campaigns/builder-steps/campaign-review.tsx
  src/components/campaigns/builder-steps/campaign-steps-editor.tsx
  src/components/campaigns/builder-steps/campaign-trigger-setup.tsx
  src/components/campaigns/drip-campaign-builder.tsx
  src/components/ui/button.tsx
Due: eslint --fix --max-warnings=0

docs: Add comprehensive documentation and finalize Phase 1 (98% Complete)
  docs/COMPONENT_EXAMPLES.md
  docs/DEPLOYMENT_GUIDE.md
  docs/DEVELOPER_GUIDE.md
  docs/TESTING_GUIDE.md
  docs/api/BROADCAST_API.md
  docs/api/DRIP_CAMPAIGNS_API.md
  docs/features/PHASE_1_IMPLEMENTATION_STATUS.md
  src/components/error-boundary.tsx
Due: eslint --fix --max-warnings=0, prettier --write

chore: Update production configuration files
  .env.example
  vercel.json
Due: prettier --write

feat: Complete Phase 1 to 100% - Broadcast Campaign APIs & Export Functionality
  docs/features/PHASE_1_IMPLEMENTATION_STATUS.md
  src/app/api/bulk/campaigns/[id]/export/route.ts
  src/app/api/bulk/campaigns/[id]/pause/route.ts
  src/app/api/bulk/campaigns/[id]/resume/route.ts
  src/app/api/bulk/campaigns/[id]/route.ts
  src/app/api/bulk/campaigns/[id]/send/route.ts
  src/app/api/bulk/campaigns/route.ts
  src/lib/utils/csv-parser.ts
Due: eslint --fix --max-warnings=0, prettier --write

docs: Update FAQ & Add Production Roadmap
  docs/ROADMAP.md
  src/app/faq/page.tsx
  src/app/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

docs: Add v1.0.0 Release Notes - Production Ready
  RELEASE_NOTES_v1.0.0.md
Due: prettier --write

feat: Phase 2 Foundation - Multi-Agent Implementation (Week 1 Complete)
  README.md
  TESTING_INFRASTRUCTURE_COMPLETE.md
  docs/CACHE_INTEGRATION_GUIDE.md
  docs/CODE_SPLITTING_GUIDE.md
  docs/PERFORMANCE_AUDIT.md
  docs/PERFORMANCE_IMPLEMENTATION_SUMMARY.md
  docs/PERFORMANCE_QUICK_START.md
  docs/PHASE_2_PLAN.md
  docs/TESTING_GUIDE.md
  package-lock.json
  package.json
  src/app/api/analytics/performance/route.ts
  src/app/dashboard/workflows/new/page.tsx
  src/app/layout.tsx
  src/components/workflow/nodes/condition-node.tsx
  src/components/workflow/nodes/delay-node.tsx
  src/components/workflow/nodes/message-node.tsx
  src/components/workflow/nodes/trigger-node.tsx
  src/components/workflow/workflow-canvas.tsx
  src/components/workflow/workflow-sidebar.tsx
  src/components/workflow/workflow-toolbar.tsx
  src/lib/cache/api-cache.ts
  src/lib/monitoring/performance.ts
  src/stores/workflow-store.ts
  src/types/workflow.ts
  supabase/migrations/047_performance_optimization_indexes.sql
Due: eslint --fix --max-warnings=0, prettier --write

docs: Update FAQ with Phase 2 Features
  src/app/faq/page.tsx
Due: eslint --fix --max-warnings=0

chore: Install workflow builder dependencies
  package-lock.json
  package.json
Due: prettier --write

feat: Phase 2 Week 3-4 Complete - Advanced Features & Optimizations
  PERFORMANCE_IMPLEMENTATION_SUMMARY.txt
  TESTING_EXPANSION_REPORT.md
  docs/PERFORMANCE_OPTIMIZATION_REPORT.md
  next.config.ts
  src/app/api/analytics/dashboard/route.ts
  src/app/api/contacts/route.ts
  src/app/api/templates/route.ts
  src/app/api/workflows/[id]/execute/route.ts
  src/app/api/workflows/[id]/route.ts
  src/app/api/workflows/route.ts
  src/app/dashboard/workflows/page.tsx
  src/app/layout.tsx
  src/components/performance/web-vitals.tsx
  src/components/workflow/nodes/action-node.tsx
  src/components/workflow/nodes/ai-node.tsx
  src/components/workflow/nodes/goal-node.tsx
  src/components/workflow/nodes/split-node.tsx
  src/components/workflow/nodes/wait-until-node.tsx
  src/components/workflow/nodes/webhook-node.tsx
  src/components/workflow/workflow-canvas.tsx
  src/components/workflow/workflow-templates.tsx
  src/lib/lazy-imports.tsx
  src/lib/workflow/execution-engine.ts
  src/lib/workflow/migration.ts
  src/lib/workflow/templates.ts
  src/stores/workflow-store.ts
  src/types/workflow.ts
  supabase/migrations/20251109_workflow_system.sql
Due: eslint --fix --max-warnings=0, prettier --write

docs: Update Phase 2 Plan with Week 3-4 Progress
  docs/PHASE_2_PLAN.md
Due: prettier --write

docs: Update README with Phase 2 Enterprise Features
  README.md
Due: prettier --write

docs: Add comprehensive Production Ready Summary
  PRODUCTION_READY_SUMMARY.md
Due: prettier --write

fix: Resolve build errors for production deployment
  next.config.ts
  src/app/api/ai/auto-response/route.ts
  src/app/api/bulk/campaigns/[id]/export/route.ts
  src/app/api/bulk/campaigns/[id]/pause/route.ts
  src/app/api/bulk/campaigns/[id]/resume/route.ts
  src/app/api/bulk/campaigns/[id]/route.ts
  src/app/api/bulk/campaigns/[id]/send/route.ts
  src/app/api/crm/webhooks/route.ts
  src/lib/ai/openrouter.ts
Due: eslint --fix --max-warnings=0

fix: Complete Next.js 15 async params migration for all dynamic routes
  src/app/api/drip-campaigns/[id]/activate/route.ts
  src/app/api/drip-campaigns/[id]/enrollments/route.ts
  src/app/api/drip-campaigns/[id]/pause/route.ts
  src/app/api/drip-campaigns/[id]/route.ts
  src/app/api/drip-campaigns/[id]/steps/route.ts
Due: eslint --fix --max-warnings=0

fix: Remove invalid index on non-existent last_message_preview column
  supabase/migrations/20251109_advanced_features_multi_channel.sql
Due: none

fix: Correct contacts table column name from phone to phone_number in trigram index
  supabase/migrations/20251109_advanced_features_multi_channel.sql
Due: none

fix: Remove reference to non-existent first_agent_response_at column in calculate_lead_score function
  supabase/migrations/20251109_advanced_features_multi_channel.sql
Due: none

fix: Remove CONCURRENTLY from index creation to allow running in transaction blocks
  supabase/migrations/047_performance_optimization_indexes.sql
Due: none

fix: Remove NOW() from index predicates - functions must be IMMUTABLE
  supabase/migrations/047_performance_optimization_indexes.sql
Due: none

fix: Use correct column names (relname, indexrelname) in performance monitoring views
  supabase/migrations/047_performance_optimization_indexes.sql
Due: none

SECURITY FIX: Replace broken RLS policies on SSO tables with proper organization isolation
  supabase/migrations/20251014_sso_implementation.sql
Due: none

SECURITY FIX: Add organization isolation to conversation GET endpoint
  src/app/api/conversations/[id]/route.ts
Due: eslint --fix --max-warnings=0

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,css,scss,md}
