Repository ThaADS/ADSapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings=0"],
  "*.{json,css,scss,md}": ["prettier --write"]
}

feat: Complete demo data system, onboarding flow, and analytics enhancements
  .env.example
  .gitignore
  .playwright-mcp/01-homepage.png
  .playwright-mcp/02-signin-page.png
  .playwright-mcp/03-dashboard-owner.png
  .playwright-mcp/04-inbox-chat-bubbles.png
  .playwright-mcp/05-tag-button-clicked-no-dropdown.png
  docs/DEMO_DATA_COMPLETE_SUMMARY.md
  docs/DEMO_DATA_IMPLEMENTATION.md
  docs/FEATURE_STATUS_OVERZICHT.md
  docs/PRD_IMPLEMENTATION_PLAN.md
  package-lock.json
  prd_ontbrekende_adsapp_features.txt
  src/app/api/analytics/advanced/route.ts
  src/app/api/conversations/filter/route.ts
  src/app/api/whatsapp/qr/generate/route.ts
  src/app/api/whatsapp/qr/status/route.ts
  src/app/api/whatsapp/twilio/validate/route.ts
  src/components/analytics/advanced-analytics-dashboard.tsx
  src/components/dashboard/nav.tsx
  src/components/inbox/whatsapp-inbox.tsx
  src/components/onboarding/OnboardingForm.tsx
  src/components/onboarding/ProviderSelector.tsx
  src/components/onboarding/TeamInvitationStep.tsx
  src/components/onboarding/TwilioSetup.tsx
  src/components/onboarding/WhatsAppQRSetup.tsx
  src/components/ui/skeleton.tsx
  src/lib/ai/categorization.ts
  src/lib/demo-analytics-data.ts
  src/lib/demo-broadcasts.ts
  src/lib/demo-data-index.ts
  src/lib/demo-drip-campaigns.ts
  src/lib/demo-workflows.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: Add real-time typing indicators and presence system for Team Inbox
  src/app/api/ai/suggestions/route.ts
  src/app/api/workflows/[id]/execute/route.ts
  src/app/api/workflows/[id]/route.ts
  src/app/dashboard/workflows/[id]/analytics/page.tsx
  src/app/dashboard/workflows/page.tsx
  src/components/inbox/message-input-with-typing.tsx
  src/components/inbox/online-agents.tsx
  src/components/inbox/typing-indicator.tsx
  src/components/inbox/whatsapp-inbox.tsx
  src/hooks/usePresence.ts
  vercel.json
Due: eslint --fix --max-warnings=0, prettier --write

fix: Add @ts-nocheck to bulk campaign routes and fix cache config types
  src/app/api/analytics/performance/route.ts
  src/app/api/bulk/campaigns/[id]/export/route.ts
  src/app/api/bulk/campaigns/[id]/pause/route.ts
  src/app/api/bulk/campaigns/[id]/resume/route.ts
  src/app/api/bulk/campaigns/[id]/route.ts
  src/app/api/bulk/campaigns/[id]/send/route.ts
  src/app/api/bulk/campaigns/route.ts
  src/lib/cache/api-cache.ts
Due: eslint --fix --max-warnings=0

feat: Add WhatsApp Widget embed system for website integration
  public/widget.js
  src/app/api/widget/config/route.ts
  src/app/api/widget/embed/[organizationId]/route.ts
Due: eslint --fix --max-warnings=0

feat: Add WhatsApp Payment Integration with Stripe Payment Links
  src/app/api/payments/links/[id]/route.ts
  src/app/api/payments/links/[id]/send/route.ts
  src/app/api/payments/links/route.ts
  src/components/inbox/payment-link-selector.tsx
  src/lib/stripe/payment-links.ts
  supabase/migrations/20251203_payment_links.sql
Due: eslint --fix --max-warnings=0

docs: Update feature status to 100% complete
  docs/FEATURE_STATUS_OVERZICHT.md
Due: prettier --write

Fix React Server Components CVE vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

docs: map existing codebase
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
Due: prettier --write

docs: initialize technical debt cleanup milestone
  .planning/PROJECT.md
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/config.json
Due: prettier --write

feat: Regenerate TypeScript types from Supabase schema
  .planning/ROADMAP.md
  .planning/STATE.md
  src/types/database.ts
Due: eslint --fix --max-warnings=0, prettier --write

docs: complete feature gap implementation research
  .planning/research/ARCHITECTURE.md
  .planning/research/FEATURES.md
  .planning/research/PITFALLS.md
  .planning/research/STACK.md
  .planning/research/SUMMARY.md
Due: prettier --write

docs: create v2.0 Feature Gap Implementation roadmap (12 phases)
  .planning/PROJECT.md
  .planning/REQUIREMENTS-v2.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: prettier --write

feat: Enable TypeScript strict mode and build quality enforcement
  next.config.ts
  tsconfig.json
Due: eslint --fix --max-warnings=0, prettier --write

refactor: Complete Phase 7 - Dependency cleanup
  .planning/ROADMAP.md
  .planning/STATE.md
  package-lock.json
  package.json
  src/components/automation/workflow-builder/ReactFlowCanvas.tsx
  src/components/automation/workflow-builder/nodes/AIResponseNode.tsx
  src/components/automation/workflow-builder/nodes/ActionNode.tsx
  src/components/automation/workflow-builder/nodes/ConditionNode.tsx
  src/components/automation/workflow-builder/nodes/DelayNode.tsx
  src/components/automation/workflow-builder/nodes/TriggerNode.tsx
  src/components/automation/workflow-builder/nodes/WebhookNode.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: Complete Phase 6 - Test coverage baseline established
  .planning/ROADMAP.md
  .planning/STATE.md
  jest.config.js
  tests/_deferred/security/test-clean.svg
  tests/_deferred/security/test-malicious.svg
Due: eslint --fix --max-warnings=0, prettier --write

feat: Create channel abstraction database schema
  supabase/migrations/20260124_channel_abstraction.sql
Due: none

feat: Add TypeScript types for channel abstraction layer
  src/types/channels.ts
Due: eslint --fix --max-warnings=0

docs: Update STATE.md with Phase 8 Plan 01 completion
  .planning/STATE.md
Due: prettier --write

feat(08-03): implement UnifiedMessageRouter and health monitor
  src/lib/channels/health.ts
  src/lib/channels/index.ts
  src/lib/channels/router.ts
Due: eslint --fix --max-warnings=0

feat(08-02): implement WhatsApp channel adapter
  src/lib/channels/adapters/base.ts
  src/lib/channels/adapters/whatsapp.ts
Due: eslint --fix --max-warnings=0

feat(08-04): integrate webhook with channel router and contact dedup
  src/app/api/webhooks/whatsapp/route.ts
  src/lib/channels/adapters/index.ts
  src/lib/channels/contact-dedup.ts
Due: eslint --fix --max-warnings=0

test(08-05): add channel abstraction layer tests
  .gitignore
  tests/integration/channels/rls.test.ts
  tests/unit/channels/contact-dedup.test.ts
  tests/unit/channels/router.test.ts
  tests/unit/channels/whatsapp-adapter.test.ts
Due: eslint --fix --max-warnings=0

docs(08): complete Phase 8 Foundation Layer
  .planning/STATE.md
Due: prettier --write

docs: add v2.1 International Expansion milestone to roadmap
  .planning/ROADMAP.md
  .planning/STATE.md
Due: prettier --write

docs(09): create WhatsApp Catalog phase plans
  .planning/phases/09-whatsapp-catalog/09-01-PLAN.md
  .planning/phases/09-whatsapp-catalog/09-02-PLAN.md
  .planning/phases/09-whatsapp-catalog/09-03-PLAN.md
  .planning/phases/09-whatsapp-catalog/09-04-PLAN.md
  .planning/phases/09-whatsapp-catalog/09-05-PLAN.md
  .planning/phases/09-whatsapp-catalog/09-06-PLAN.md
  .planning/phases/09-whatsapp-catalog/09-RESEARCH.md
Due: prettier --write

feat(catalog): Add database schema for WhatsApp catalog feature
  supabase/migrations/20260124_whatsapp_catalog.sql
Due: none

feat(catalog): Add TypeScript types for WhatsApp catalog feature
  src/types/whatsapp-catalog.ts
Due: eslint --fix --max-warnings=0

feat(09-03): add product message methods to EnhancedWhatsAppClient
  src/lib/whatsapp/enhanced-client.ts
Due: eslint --fix --max-warnings=0

feat(09-03): create products list API route
  src/app/api/whatsapp/products/route.ts
Due: eslint --fix --max-warnings=0

feat(09-03): create single product message API route
  src/app/api/whatsapp/messages/product/route.ts
Due: eslint --fix --max-warnings=0

feat(09-03): create multi-product message API route
  src/app/api/whatsapp/messages/product-list/route.ts
Due: eslint --fix --max-warnings=0

docs(09-03): complete product messaging plan
  .planning/phases/09-whatsapp-catalog/09-03-SUMMARY.md
Due: prettier --write

feat(09-02): extend EnhancedWhatsAppClient with catalog methods
  src/lib/whatsapp/enhanced-client.ts
Due: eslint --fix --max-warnings=0

feat(09-02): create CatalogSyncService for product sync
  src/lib/whatsapp/catalog-sync.ts
Due: eslint --fix --max-warnings=0

feat(09-02): add catalog configuration API route
  src/app/api/whatsapp/catalog/route.ts
Due: eslint --fix --max-warnings=0

feat(09-02): add catalog sync trigger API route
  src/app/api/whatsapp/catalog/sync/route.ts
Due: eslint --fix --max-warnings=0

docs(09-02): complete catalog sync plan
  .planning/phases/09-whatsapp-catalog/09-02-SUMMARY.md
Due: prettier --write

feat(09-04): create ProductCard component for product display
  src/components/messaging/ProductCard.tsx
Due: eslint --fix --max-warnings=0

feat(09-04): create ProductPicker modal with search and selection
  src/components/messaging/ProductPicker.tsx
Due: eslint --fix --max-warnings=0
