Repository ThaADS/ADSapp: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, e2e, API Routes, React Components, Library Code, Custom Hooks

📋 WEEK 2 DAY 1 SUMMARY: Parallel Execution Success
  WEEK_2_DAY_1_SUMMARY.md
Due: none

🚀 WEEK 2 DAY 2: Redis Cache + BullMQ Job Queue + Admin Type Fixes
  BULLMQ_IMPLEMENTATION.md
  BULLMQ_IMPLEMENTATION_SUMMARY.md
  BULLMQ_QUICK_REFERENCE.md
  CACHE_DEPLOYMENT_CHECKLIST.md
  CACHE_QUICK_START.md
  MASTER_IMPROVEMENT_PLAN.md
  MASTER_PROGRESS_DASHBOARD.md
  REDIS_CACHE_IMPLEMENTATION.md
  REDIS_CACHE_TECHNICAL_SUMMARY.md
  src/app/api/admin/billing/route.ts
  src/app/api/admin/organizations/[id]/route.ts
  src/app/api/admin/organizations/route.ts
  src/app/api/admin/settings/route.ts
  src/app/api/admin/user-management/route.ts
  src/app/api/admin/users/route.ts
  src/app/api/admin/webhooks/events/route.ts
  src/app/api/jobs/[id]/route.ts
  src/app/api/jobs/bulk-message/route.ts
  src/app/api/jobs/import-contacts/route.ts
  src/app/api/jobs/stats/route.ts
  src/components/admin/job-dashboard.tsx
  src/lib/admin-reporting.ts
  src/lib/cache/analytics.ts
  src/lib/cache/cache-manager.ts
  src/lib/cache/index.ts
  src/lib/cache/invalidation.ts
  src/lib/cache/l1-cache.ts
  src/lib/cache/redis-client.ts
  src/lib/middleware/cache-middleware.ts
  src/lib/middleware/rate-limiter-redis.ts
  src/lib/queue/bull-config.ts
  src/lib/queue/processors/bulk-message-processor.ts
  src/lib/queue/processors/contact-import-processor.ts
  src/lib/queue/processors/email-notification-processor.ts
  src/lib/queue/processors/template-processor.ts
  src/lib/queue/queue-manager.ts
  supabase/migrations/20251013_job_queue.sql
  supabase/migrations/20251016_cache_infrastructure.sql
Due: unit, integration, e2e, API Routes, React Components, Library Code

📊 WEEK 2 COMPLETE: All Security Vulnerabilities Resolved + 160% Budget Efficiency
  WEEK_2_COMPLETE_SUMMARY.md
Due: none

Week 6: Frontend Core Web Vitals Optimization Complete
  WEEK6_SUMMARY.md
  docs/PERFORMANCE_TESTING_GUIDE.md
  docs/WEEK6_COMPLETION_SUMMARY.md
  docs/WEEK6_PERFORMANCE_OPTIMIZATION.md
  lighthouserc.json
  src/app/api/analytics/web-vitals/route.ts
  src/app/dashboard/page.tsx
  src/components/inbox/whatsapp-inbox.tsx
  supabase/migrations/20251014_web_vitals_tracking.sql
Due: unit, integration, e2e, API Routes, React Components

feat: Week 7-8 Accessibility Improvements - WCAG 2.1 AA Compliance
  .claude/settings.local.json
  docs/ACCESSIBILITY.md
  docs/ACCESSIBILITY_TESTING.md
  src/app/layout.tsx
  src/components/accessibility/accessibility-preferences.tsx
  src/components/accessibility/accessible-form.tsx
  src/components/accessibility/index.ts
  supabase/migrations/20251014_accessibility_preferences.sql
Due: unit, e2e, React Components

feat: Phase 4 Week 23-24 - Enterprise SSO Implementation (Core Framework)
  docs/SSO_IMPLEMENTATION_COMPLETE_SUMMARY.md
  docs/SSO_IMPLEMENTATION_REPORT.md
  package-lock.json
  package.json
  src/lib/auth/sso/oauth.ts
  src/lib/auth/sso/saml.ts
  src/lib/auth/sso/types.ts
  supabase/migrations/20251014_advanced_rbac.sql
  supabase/migrations/20251014_api_versioning_event_sourcing.sql
  supabase/migrations/20251014_gdpr_compliance.sql
  supabase/migrations/20251014_sso_implementation.sql
Due: unit, integration, Library Code

security: Remove leaked OpenRouter API key from documentation
  .env.example
  docs/AI_BUILD_STATUS_FINAL.md
  docs/AI_IMPLEMENTATION_COMPLETE.md
  docs/AI_INTEGRATION_MASTER_PLAN.md
  docs/FINAL_STATUS_100_PERCENT.md
Due: none

perf: Optimize dashboard tab switching performance (10x faster)
  .claude/settings.local.json
  ADMIN_DASHBOARD_404_ROOT_CAUSE_ANALYSIS.md
  DASHBOARD_PERFORMANCE_OPTIMIZATION.md
  next.config.ts
  src/app/dashboard/automation/page.tsx
  src/app/dashboard/contacts/page.tsx
  src/app/dashboard/inbox/page.tsx
  src/app/dashboard/layout.tsx
  src/app/dashboard/page.tsx
  src/app/dashboard/settings/billing/page.tsx
  src/app/dashboard/settings/integrations/page.tsx
  src/app/dashboard/settings/organization/page.tsx
  src/app/dashboard/settings/page.tsx
  src/app/dashboard/settings/profile/page.tsx
  src/app/dashboard/settings/team/page.tsx
  src/app/dashboard/templates/page.tsx
  src/app/dashboard/whatsapp/page.tsx
Due: unit, e2e

fix: API 500 errors and feature availability audit
  API_500_ERROR_FIX_COMPLETE.md
  FEATURE_AVAILABILITY_AUDIT.md
  src/app/api/contacts/route.ts
  src/app/api/tags/route.ts
Due: unit, integration, e2e, API Routes

feat: Sprint 1 - Inbox naar 100% + Complete Implementatieplan
  COMPLETE_TO_100_PERCENT_PLAN.md
  src/app/api/conversations/[id]/notes/[noteId]/route.ts
  src/app/api/conversations/[id]/notes/route.ts
  src/app/api/messages/search/route.ts
  src/components/inbox/conversation-notes.tsx
  src/components/inbox/message-search.tsx
Due: unit, integration, e2e, API Routes, React Components

feat: Security Dashboard implementation - Security 95% → 100%
  src/app/admin/security/page.tsx
  src/app/api/admin/security/metrics/route.ts
  src/components/admin/admin-layout-client.tsx
  src/components/admin/security-dashboard.tsx
Due: unit, integration, e2e, API Routes, React Components

feat: White-Label Branding UI - Multi-Tenant 90% → 100%
  src/app/dashboard/settings/organization/page.tsx
  src/components/dashboard/white-label-branding.tsx
Due: unit, e2e, React Components

feat: Advanced Analytics Dashboard - 80% → 100%
  package-lock.json
  package.json
  src/app/api/analytics/revenue/route.ts
  src/app/dashboard/analytics/revenue/page.tsx
  src/components/analytics/custom-report-builder.tsx
  src/components/analytics/revenue-dashboard.tsx
Due: unit, integration, e2e, API Routes, React Components

feat: Intelligent Automation Infrastructure - Part 1
  package-lock.json
  package.json
  src/lib/automation/workflow-engine.ts
  supabase/migrations/041_workflow_execution.sql
  supabase/migrations/042_intelligent_routing.sql
  supabase/migrations/043_escalation_management.sql
Due: unit, integration, Library Code

feat: ReactFlow Visual Workflow Builder + Intelligent Load Balancer + Database Migrations
  .claude/settings.local.json
  .lintstagedrc.json
  src/app/dashboard/automation/page.tsx
  src/components/automation/workflow-builder/ReactFlowCanvas.tsx
  src/components/automation/workflow-builder/index.tsx
  src/components/automation/workflow-builder/nodes/AIResponseNode.tsx
  src/components/automation/workflow-builder/nodes/ActionNode.tsx
  src/components/automation/workflow-builder/nodes/ConditionNode.tsx
  src/components/automation/workflow-builder/nodes/DelayNode.tsx
  src/components/automation/workflow-builder/nodes/TriggerNode.tsx
  src/components/automation/workflow-builder/nodes/WebhookNode.tsx
  src/lib/automation/load-balancer.ts
  supabase/migrations/044_automation_routing_tables.sql
Due: unit, integration, e2e, React Components, Library Code

feat: TypeScript types for routing tables + clean up type assertions
  APPLY_MIGRATION_044.md
  src/components/automation/capacity-dashboard.tsx
  src/lib/automation/load-balancer.ts
  src/types/database.ts
Due: unit, integration, React Components, Library Code

docs: add cleanup summary - 84 files removed, project organized
  PROJECT_STRUCTURE_AFTER_CLEANUP.md
Due: none

docs: comprehensive automation implementation status - 80% complete
  INTELLIGENT_AUTOMATION_STATUS.md
Due: none

feat: Escalation Rules Manager - Complete Intelligent Automation to 100%
  APPLY_MIGRATION_045.md
  INTELLIGENT_AUTOMATION_STATUS.md
  src/components/automation/automation-tabs.tsx
  src/components/automation/escalation-rules.tsx
  src/types/database.ts
  supabase/migrations/045_escalation_rules_table.sql
Due: unit, React Components

feat: comprehensive demo accounts with quick login + all fixes
  APPLY_MIGRATION_044.md
  APPLY_MIGRATION_045.md
  INTELLIGENT_AUTOMATION_STATUS.md
  PROJECT_STRUCTURE_AFTER_CLEANUP.md
  docs/ACCESSIBILITY.md
  docs/DEPLOYMENT_CHECKLIST.md
  docs/PRODUCTION_CHECKLIST.md
  docs/archive/CACHE_DEPLOYMENT_CHECKLIST.md
  docs/archive/FORGOT_PASSWORD_FIX.md
  docs/archive/SECURITY_AUDIT_REPORT.md
  docs/archive/audits/ARCHITECTURE_REVIEW.md
  docs/archive/audits/DOCUMENTATION_KNOWLEDGE_BASE_AUDIT.md
  src/app/api/admin/dashboard/route.ts
  src/app/api/admin/organizations/[id]/route.ts
  src/components/auth/signin-form.tsx
  src/components/automation/escalation-rules.tsx
  src/lib/automation/load-balancer.ts
  src/types/database.ts
Due: unit, integration, e2e, API Routes, React Components, Library Code

docs: comprehensive README overhaul with AI features, ROI calculator, and demo details
  README.md
Due: none

feat: Phase 1 AI Dashboard Integration - Inbox AI Features
  src/components/ai/conversation-summary.tsx
  src/components/ai/draft-suggestions.tsx
  src/components/ai/sentiment-badge.tsx
  src/components/inbox/enhanced-message-input.tsx
  src/components/inbox/whatsapp-inbox.tsx
Due: unit, React Components

feat: Phase 2 AI Dashboard Integration - AI Settings Page
  src/app/dashboard/settings/ai/page.tsx
  src/components/dashboard/ai-settings.tsx
Due: unit, e2e, React Components

feat: Phase 3 AI Dashboard Integration - AI Analytics Page
  src/app/dashboard/analytics/ai/page.tsx
Due: unit, e2e

feat: Phase 4 Marketing & Documentation - AI Features Pages & Help System
  src/app/dashboard/help/page.tsx
  src/app/faq/ai/page.tsx
  src/app/features/ai/page.tsx
  src/components/dashboard/help-center.tsx
  src/components/dashboard/nav.tsx
Due: unit, e2e, React Components

fix: handle undefined contact data in ActivityFeed component
  src/components/dashboard/activity-feed.tsx
Due: unit, React Components

fix: suppress hydration warning caused by browser extensions
  src/app/layout.tsx
Due: unit, e2e

fix: handle undefined tags in EnhancedConversationList
  src/components/inbox/enhanced-conversation-list.tsx
Due: unit, React Components

fix: Help Center role filtering and image configuration
  next.config.ts
  src/components/dashboard/help-center.tsx
Due: unit, React Components

fix: Inbox message display, statistics, and enhanced tag system
  src/components/inbox/whatsapp-inbox.tsx
Due: unit, React Components

fix: Inbox message display, statistics, and enhanced tag system
  package.json
  src/components/inbox/whatsapp-inbox.tsx
  src/lib/whatsapp/filters.ts
Due: unit, integration, React Components, Library Code

fix: Correct message data extraction from API response
  src/components/inbox/whatsapp-inbox.tsx
Due: unit, React Components

fix: Remove middleware causing cookies error in messages API
  src/app/api/conversations/[id]/messages/route.ts
Due: unit, integration, e2e, API Routes

Path conditions:
  unit: any of: src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/__tests__/**, **/__mocks__/**, **/node_modules/**, **/.next/**, **/coverage/**, **/*.config.js, **/*.config.ts, **/next-env.d.ts, **/middleware.ts, **/*.stories.tsx, **/supabase/migrations/**, **/scripts/**, **/docs/**
  integration: any of: src/app/api/, src/lib/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/__tests__/**, **/__mocks__/**, **/node_modules/**, **/.next/**, **/coverage/**, **/*.config.js, **/*.config.ts, **/next-env.d.ts, **/middleware.ts, **/*.stories.tsx, **/supabase/migrations/**, **/scripts/**, **/docs/**
  e2e: any of: src/app/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/__tests__/**, **/__mocks__/**, **/node_modules/**, **/.next/**, **/coverage/**, **/*.config.js, **/*.config.ts, **/next-env.d.ts, **/middleware.ts, **/*.stories.tsx, **/supabase/migrations/**, **/scripts/**, **/docs/**
  API Routes: any of: src/app/api/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/__tests__/**, **/__mocks__/**, **/node_modules/**, **/.next/**, **/coverage/**, **/*.config.js, **/*.config.ts, **/next-env.d.ts, **/middleware.ts, **/*.stories.tsx, **/supabase/migrations/**, **/scripts/**, **/docs/**
  React Components: any of: src/components/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/__tests__/**, **/__mocks__/**, **/node_modules/**, **/.next/**, **/coverage/**, **/*.config.js, **/*.config.ts, **/next-env.d.ts, **/middleware.ts, **/*.stories.tsx, **/supabase/migrations/**, **/scripts/**, **/docs/**
  Library Code: any of: src/lib/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/__tests__/**, **/__mocks__/**, **/node_modules/**, **/.next/**, **/coverage/**, **/*.config.js, **/*.config.ts, **/next-env.d.ts, **/middleware.ts, **/*.stories.tsx, **/supabase/migrations/**, **/scripts/**, **/docs/**
  Custom Hooks: any of: src/hooks/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/__tests__/**, **/__mocks__/**, **/node_modules/**, **/.next/**, **/coverage/**, **/*.config.js, **/*.config.ts, **/next-env.d.ts, **/middleware.ts, **/*.stories.tsx, **/supabase/migrations/**, **/scripts/**, **/docs/**
