Repository ThaADS/ADSapp: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, e2e, API Routes, React Components, Library Code, Custom Hooks

feat(09-05): create CatalogSettings component
  src/components/settings/CatalogSettings.tsx
Due: unit, React Components

feat(09-05): integrate CatalogSettings with settings page
  src/app/dashboard/settings/integrations/page.tsx
Due: unit, e2e

docs(09-05): complete catalog settings UI plan
  .planning/phases/09-whatsapp-catalog/09-05-SUMMARY.md
Due: none

feat(09-04): create ProductMessageComposer for product messages
  src/components/messaging/ProductMessageComposer.tsx
Due: unit, React Components

docs(09-04): complete product picker UI plan
  .planning/phases/09-whatsapp-catalog/09-04-SUMMARY.md
Due: none

feat(09-06): create order handler service
  src/lib/whatsapp/order-handler.ts
Due: unit, integration, Library Code

feat(09-06): update webhook to handle order messages
  src/app/api/webhooks/whatsapp/route.ts
Due: unit, integration, e2e, API Routes

docs(09-06): complete order webhook plan
  .planning/phases/09-whatsapp-catalog/09-06-SUMMARY.md
Due: none

docs(09): complete WhatsApp Catalog phase
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

feat(inbox): integrate WhatsApp Catalog UI into chat interface
  src/components/inbox/chat-window.tsx
  src/components/inbox/message-input.tsx
  src/components/inbox/message-list.tsx
Due: unit, React Components

feat(10-01): create OAuth 2.0 provider database schema
  supabase/migrations/20260124_zapier_oauth.sql
Due: none

feat(10-01): create webhook subscription database schema
  supabase/migrations/20260124_zapier_webhooks.sql
Due: none

feat(10-01): create OAuth 2.0 TypeScript type definitions
  src/types/oauth.ts
Due: unit

feat(10-01): create Zapier integration TypeScript types
  src/types/zapier.ts
Due: unit

docs(10-01): update STATE.md with Phase 10 progress
  .planning/STATE.md
Due: none

feat(10-02): implement OAuth token manager with JWT and PKCE support
  src/lib/integrations/zapier/token-manager.ts
Due: unit, integration, Library Code

feat(10-03): implement sliding window rate limiter
  src/lib/integrations/zapier/rate-limiter.ts
Due: unit, integration, Library Code

feat(10-02): implement OAuth provider with Authorization Code Grant
  src/lib/integrations/zapier/oauth-provider.ts
Due: unit, integration, Library Code

feat(10-03): implement OAuth authentication middleware
  src/lib/integrations/zapier/auth-middleware.ts
Due: unit, integration, Library Code

feat(10-03): implement combined Zapier middleware wrapper
  src/lib/integrations/zapier/middleware.ts
Due: none

feat(10-03): add Zapier integration module exports
  src/lib/integrations/zapier/index.ts
Due: unit, integration, Library Code

feat(10-02): implement OAuth authorization endpoint
  src/app/api/integrations/zapier/authorize/route.ts
Due: unit, integration, e2e, API Routes

feat(10-02): implement OAuth token endpoint
  src/app/api/integrations/zapier/token/route.ts
Due: unit, integration, e2e, API Routes

feat(10-02): implement OAuth revocation endpoint
  src/app/api/integrations/zapier/revoke/route.ts
Due: unit, integration, e2e, API Routes

feat(10-02): implement OAuth consent UI page
  src/app/(auth)/oauth/consent/page.tsx
Due: unit, e2e

feat(10-02): implement OAuth authorization callback endpoint
  .planning/STATE.md
  src/app/api/integrations/zapier/authorize/callback/route.ts
Due: unit, integration, e2e, API Routes

docs(10-03): update STATE.md for Phase 10 completion
  .planning/STATE.md
Due: none

docs(10-02): update STATE.md for OAuth Authorization Server completion
  .planning/STATE.md
Due: none

docs(10): create gap closure plans for Zapier integration
  .planning/ROADMAP.md
  .planning/phases/10-zapier-integration/10-04-PLAN.md
  .planning/phases/10-zapier-integration/10-05-PLAN.md
  .planning/phases/10-zapier-integration/10-06-PLAN.md
Due: none

feat(10-04): create REST Hook subscribe/unsubscribe endpoints
  src/app/api/integrations/zapier/hooks/[id]/route.ts
  src/app/api/integrations/zapier/hooks/subscribe/route.ts
Due: unit, integration, e2e, API Routes

feat(10-04): create webhook delivery service with retry logic
  src/lib/integrations/zapier/webhook-service.ts
Due: unit, integration, Library Code

feat(10-05): add Zapier send message action endpoint
  src/app/api/integrations/zapier/actions/send-message/route.ts
Due: unit, integration, e2e, API Routes

feat(10-05): add Zapier contact management action endpoints
  src/app/api/integrations/zapier/actions/contacts/[id]/route.ts
  src/app/api/integrations/zapier/actions/contacts/route.ts
Due: unit, integration, e2e, API Routes

feat(10-04): create event emitter and update index exports
  src/lib/integrations/zapier/event-emitter.ts
  src/lib/integrations/zapier/index.ts
Due: unit, integration, Library Code

feat(10-06): create Zapier CLI project structure
  .planning/STATE.md
  zapier-app/.zapierapprc
  zapier-app/authentication.js
  zapier-app/index.js
  zapier-app/package.json
Due: none

feat(10-06): add Zapier trigger and action definitions
  zapier-app/creates/create_contact.js
  zapier-app/creates/send_message.js
  zapier-app/creates/update_contact.js
  zapier-app/triggers/new_contact.js
  zapier-app/triggers/new_message.js
Due: none

docs(10-06): complete Zapier CLI app plan
  .planning/STATE.md
  .planning/phases/10-zapier-integration/10-06-SUMMARY.md
Due: none

feat(10): add Zapier support endpoints for OAuth test and polling
  src/app/api/integrations/zapier/me/route.ts
  src/app/api/integrations/zapier/triggers/contacts/route.ts
  src/app/api/integrations/zapier/triggers/messages/route.ts
Due: unit, integration, e2e, API Routes

docs(10): complete Zapier Integration phase
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/10-zapier-integration/10-VERIFICATION.md
Due: none

Path conditions:
  unit: any of: src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/__tests__/**, **/__mocks__/**, **/node_modules/**, **/.next/**, **/coverage/**, **/*.config.js, **/*.config.ts, **/next-env.d.ts, **/middleware.ts, **/*.stories.tsx, **/supabase/migrations/**, **/scripts/**, **/docs/**
  integration: any of: src/app/api/, src/lib/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/__tests__/**, **/__mocks__/**, **/node_modules/**, **/.next/**, **/coverage/**, **/*.config.js, **/*.config.ts, **/next-env.d.ts, **/middleware.ts, **/*.stories.tsx, **/supabase/migrations/**, **/scripts/**, **/docs/**
  e2e: any of: src/app/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/__tests__/**, **/__mocks__/**, **/node_modules/**, **/.next/**, **/coverage/**, **/*.config.js, **/*.config.ts, **/next-env.d.ts, **/middleware.ts, **/*.stories.tsx, **/supabase/migrations/**, **/scripts/**, **/docs/**
  API Routes: any of: src/app/api/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/__tests__/**, **/__mocks__/**, **/node_modules/**, **/.next/**, **/coverage/**, **/*.config.js, **/*.config.ts, **/next-env.d.ts, **/middleware.ts, **/*.stories.tsx, **/supabase/migrations/**, **/scripts/**, **/docs/**
  React Components: any of: src/components/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/__tests__/**, **/__mocks__/**, **/node_modules/**, **/.next/**, **/coverage/**, **/*.config.js, **/*.config.ts, **/next-env.d.ts, **/middleware.ts, **/*.stories.tsx, **/supabase/migrations/**, **/scripts/**, **/docs/**
  Library Code: any of: src/lib/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/__tests__/**, **/__mocks__/**, **/node_modules/**, **/.next/**, **/coverage/**, **/*.config.js, **/*.config.ts, **/next-env.d.ts, **/middleware.ts, **/*.stories.tsx, **/supabase/migrations/**, **/scripts/**, **/docs/**
  Custom Hooks: any of: src/hooks/**, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/__tests__/**, **/__mocks__/**, **/node_modules/**, **/.next/**, **/coverage/**, **/*.config.js, **/*.config.ts, **/next-env.d.ts, **/middleware.ts, **/*.stories.tsx, **/supabase/migrations/**, **/scripts/**, **/docs/**
