Repository ThaADS/ADSapp: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, e2e, API Routes, React Components, Library Code, Custom Hooks

codecov.yml:

# Codecov Configuration for ADSapp
# https://docs.codecov.com/docs/codecov-yaml

# Coverage thresholds
coverage:
  status:
    project:
      default:
        target: 80%              # Overall project coverage target
        threshold: 2%            # Allow 2% decrease before failure
        if_ci_failed: error      # Fail if CI tests fail

    patch:
      default:
        target: 80%              # Coverage for new code
        threshold: 5%            # More lenient for patches
        if_ci_failed: error

# File-specific requirements
  range: 70..100                 # Red (70%) to green (100%)
  round: down
  precision: 2

# Comment configuration
comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default              # Update existing comment
  require_changes: false         # Always comment
  require_base: false            # Comment on first PR
  require_head: true             # Require head report

# GitHub checks
github_checks:
  annotations: true              # Show annotations on GitHub

# Ignore patterns
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/__mocks__/**"
  - "**/node_modules/**"
  - "**/.next/**"
  - "**/coverage/**"
  - "**/*.config.js"
  - "**/*.config.ts"
  - "**/next-env.d.ts"
  - "**/middleware.ts"
  - "**/*.stories.tsx"
  - "**/supabase/migrations/**"
  - "**/scripts/**"
  - "**/docs/**"

# Flags for different test types
flags:
  unit:
    paths:
      - src/
    carryforward: true

  integration:
    paths:
      - src/app/api/
      - src/lib/
    carryforward: true

  e2e:
    paths:
      - src/app/
    carryforward: true

# Pull request comments
pull_request:
  target: auto
  threshold: 2%

# Component-specific coverage
component_management:
  individual_components:
    - component_id: api_routes
      name: API Routes
      paths:
        - src/app/api/**

    - component_id: components
      name: React Components
      paths:
        - src/components/**

    - component_id: lib
      name: Library Code
      paths:
        - src/lib/**

    - component_id: hooks
      name: Custom Hooks
      paths:
        - src/hooks/**

# Codecov UI settings
ui:
  hide_project_coverage: false
  hide_patch_coverage: false

feat(21-03): add Twilio WhatsApp webhook handler
  src/lib/integrations/twilio-whatsapp/index.ts
  src/lib/integrations/twilio-whatsapp/webhook-handler.ts
Due: unit, integration, Library Code

feat(21-05): add Twilio WhatsApp API routes
  src/app/api/integrations/twilio-whatsapp/connect/route.ts
  src/app/api/integrations/twilio-whatsapp/verify/route.ts
  src/app/api/webhooks/twilio-whatsapp/route.ts
Due: unit, integration, e2e, API Routes

feat(21-04): add TwilioWhatsAppAdapter
  src/lib/channels/adapters/index.ts
  src/lib/channels/adapters/twilio-whatsapp.ts
Due: unit, integration, Library Code

docs(21-05): update state and add summary for API routes
  .planning/STATE.md
  .planning/phases/21-twilio-whatsapp-core/21-05-SUMMARY.md
Due: none

docs(phase-21): complete phase 21 Twilio WhatsApp Core
  .planning/STATE.md
  .planning/phases/21-twilio-whatsapp-core/SUMMARY.md
Due: none

docs(roadmap): mark Phase 21 Twilio WhatsApp Core complete
  .planning/ROADMAP.md
Due: none

feat(22-01): add Twilio WhatsApp templates database schema
  src/types/twilio-whatsapp.ts
  supabase/migrations/20260203_twilio_whatsapp_templates.sql
Due: unit

feat(22-02): add Twilio template sync service
  src/lib/integrations/twilio-whatsapp/client.ts
  src/lib/integrations/twilio-whatsapp/template-sync.ts
Due: unit, integration, Library Code

feat(22-03): add Twilio WhatsApp template messaging API
  src/app/api/integrations/twilio-whatsapp/templates/[id]/route.ts
  src/app/api/integrations/twilio-whatsapp/templates/route.ts
  src/app/api/integrations/twilio-whatsapp/templates/send/route.ts
Due: unit, integration, e2e, API Routes

docs(phase-22): complete Twilio WhatsApp Templates phase
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/22-twilio-whatsapp-templates/22-01-PLAN.md
  .planning/phases/22-twilio-whatsapp-templates/22-02-PLAN.md
  .planning/phases/22-twilio-whatsapp-templates/22-03-PLAN.md
  .planning/phases/22-twilio-whatsapp-templates/SUMMARY.md
Due: none

feat(phase-23): add message status schema enhancement
  src/types/twilio-whatsapp.ts
  supabase/migrations/20260203_twilio_whatsapp_status.sql
Due: unit

feat(phase-23): enhance status callback with history tracking
  src/lib/integrations/twilio-whatsapp/error-codes.ts
  src/lib/integrations/twilio-whatsapp/webhook-handler.ts
Due: unit, integration, Library Code

feat(phase-23): add message status API endpoints
  src/app/api/conversations/[id]/messages/status/route.ts
  src/app/api/messages/[id]/status/route.ts
Due: unit, integration, e2e, API Routes

feat(phase-23): add failed message retry API endpoints
  .planning/ROADMAP.md
  .planning/phases/23-twilio-status-delivery/23-04-PLAN.md
  src/app/api/conversations/[id]/messages/retry-failed/route.ts
  src/app/api/messages/[id]/retry/route.ts
Due: unit, integration, e2e, API Routes

feat(phase-24): complete WhatsApp provider integration & settings
  .planning/ROADMAP.md
  .planning/phases/24-twilio-integration-settings/24-01-PLAN.md
  .planning/phases/24-twilio-integration-settings/24-02-PLAN.md
  .planning/phases/24-twilio-integration-settings/24-03-PLAN.md
  src/app/api/integrations/whatsapp/provider/health/route.ts
  src/app/api/integrations/whatsapp/provider/route.ts
  src/components/settings/whatsapp-provider-settings.tsx
  src/lib/channels/adapters/index.ts
  src/lib/integrations/whatsapp/provider-service.ts
  src/locales/en/settings.json
  src/locales/nl/settings.json
  src/types/whatsapp-settings.ts
  supabase/migrations/20260203_whatsapp_provider_settings.sql
Due: unit, integration, e2e, API Routes, React Components, Library Code

fix(build): lazy init Supabase clients for Vercel compatibility
  src/lib/whatsapp/drip-campaigns.ts
  src/lib/workflow/enhanced-execution-engine.ts
  src/lib/workflow/execution-logger.ts
  src/lib/workflow/retry-handler.ts
  src/lib/workflow/scheduler.ts
  src/lib/workflow/trigger-service.ts
Due: unit, integration, Library Code

fix(build): lazy init Supabase clients in ab-testing and session-management
  src/lib/drip-campaigns/ab-testing.ts
  src/lib/session-management.ts
Due: unit, integration, Library Code

fix(build): lazy init Supabase in DripFunnelAnalytics
  src/lib/drip-campaigns/funnel-analytics.ts
Due: unit, integration, Library Code
