Repository ThaADS/ADSapp: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, e2e, API Routes, React Components, Library Code, Custom Hooks

codecov.yml:

# Codecov Configuration for ADSapp
# https://docs.codecov.com/docs/codecov-yaml

# Coverage thresholds
coverage:
  status:
    project:
      default:
        target: 80%              # Overall project coverage target
        threshold: 2%            # Allow 2% decrease before failure
        if_ci_failed: error      # Fail if CI tests fail

    patch:
      default:
        target: 80%              # Coverage for new code
        threshold: 5%            # More lenient for patches
        if_ci_failed: error

# File-specific requirements
  range: 70..100                 # Red (70%) to green (100%)
  round: down
  precision: 2

# Comment configuration
comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default              # Update existing comment
  require_changes: false         # Always comment
  require_base: false            # Comment on first PR
  require_head: true             # Require head report

# GitHub checks
github_checks:
  annotations: true              # Show annotations on GitHub

# Ignore patterns
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/__mocks__/**"
  - "**/node_modules/**"
  - "**/.next/**"
  - "**/coverage/**"
  - "**/*.config.js"
  - "**/*.config.ts"
  - "**/next-env.d.ts"
  - "**/middleware.ts"
  - "**/*.stories.tsx"
  - "**/supabase/migrations/**"
  - "**/scripts/**"
  - "**/docs/**"

# Flags for different test types
flags:
  unit:
    paths:
      - src/
    carryforward: true

  integration:
    paths:
      - src/app/api/
      - src/lib/
    carryforward: true

  e2e:
    paths:
      - src/app/
    carryforward: true

# Pull request comments
pull_request:
  target: auto
  threshold: 2%

# Component-specific coverage
component_management:
  individual_components:
    - component_id: api_routes
      name: API Routes
      paths:
        - src/app/api/**

    - component_id: components
      name: React Components
      paths:
        - src/components/**

    - component_id: lib
      name: Library Code
      paths:
        - src/lib/**

    - component_id: hooks
      name: Custom Hooks
      paths:
        - src/hooks/**

# Codecov UI settings
ui:
  hide_project_coverage: false
  hide_patch_coverage: false

docs(11): research phase domain
  .planning/phases/11-team-collaboration/11-RESEARCH.md
Due: none

docs(11): create phase plan for Team Collaboration (@Mentions)
  .planning/ROADMAP.md
  .planning/phases/11-team-collaboration/11-01-PLAN.md
  .planning/phases/11-team-collaboration/11-02-PLAN.md
  .planning/phases/11-team-collaboration/11-03-PLAN.md
  .planning/phases/11-team-collaboration/11-04-PLAN.md
  .planning/phases/11-team-collaboration/11-05-PLAN.md
  .planning/phases/11-team-collaboration/11-06-PLAN.md
Due: none

docs: update state to production ready status
  .planning/STATE.md
Due: none

fix(vercel): reduce cron jobs to daily for Hobby plan
  vercel.json
Due: none

fix(vercel): remove invalid region selector
  vercel.json
Due: none

fix(build): add credential-manager.ts to git
  .gitignore
  src/lib/security/credential-manager.ts
Due: unit, integration, Library Code

fix(build): add ts-expect-error for billing_events table
  src/app/api/admin/analytics/route.ts
Due: unit, integration, e2e, API Routes

fix: resolve billing_events TypeScript errors for Vercel build
  src/app/api/admin/analytics/route.ts
  src/app/api/admin/billing/route.ts
  src/app/api/admin/organizations/[id]/route.ts
  src/lib/gdpr/data-lifecycle.ts
Due: unit, integration, e2e, API Routes, Library Code

fix(build): make Vercel build more robust
  next.config.ts
  package.json
Due: none

fix(middleware): consolidate middleware and remove hardcoded credentials
  middleware.ts
  src/middleware.ts
Due: none

docs(10.5): capture i18n completion phase context
  .planning/phases/10.5-i18n-completion/10.5-CONTEXT.md
Due: none

docs(10.5): research i18n completion phase domain
  .planning/phases/10.5-i18n-completion/10.5-RESEARCH.md
Due: none

docs(10.5): create i18n completion phase plans
  .planning/ROADMAP.md
  .planning/phases/10.5-i18n-completion/10.5-01-PLAN.md
  .planning/phases/10.5-i18n-completion/10.5-02-PLAN.md
  .planning/phases/10.5-i18n-completion/10.5-03-PLAN.md
  .planning/phases/10.5-i18n-completion/10.5-04-PLAN.md
  .planning/phases/10.5-i18n-completion/10.5-05-PLAN.md
Due: none

fix(10.5): revise plans based on checker feedback
  .planning/phases/10.5-i18n-completion/10.5-03-PLAN.md
  .planning/phases/10.5-i18n-completion/10.5-04-PLAN.md
  .planning/phases/10.5-i18n-completion/10.5-05-PLAN.md
Due: none

feat(10.5-01): add TranslationProvider to onboarding layout
  src/app/onboarding/layout.tsx
Due: unit, e2e

feat(10.5-01): add preferred_language column to profiles table
  supabase/migrations/20260128_add_preferred_language.sql
Due: none

feat(10.5-01): add preferred_language to TypeScript database types
  src/types/database.ts
Due: unit

docs(10.5-01): complete TranslationProvider gap fix and language schema
  .planning/STATE.md
Due: none

feat(10.5-02): add database preference lookup to server locale detection
  src/lib/i18n/server.ts
Due: unit, integration, Library Code

feat(10.5-03): add English email translations
  src/locales/en/emails.json
Due: unit

feat(10.5-02): implement database preference check in middleware
  middleware.ts
Due: none

feat(10.5-03): add Dutch email translations
  src/locales/nl/emails.json
Due: unit

feat(10.5-03): register emails namespace in i18n system
  .planning/STATE.md
  src/lib/i18n/dictionaries.ts
  src/locales/en/index.ts
  src/locales/nl/index.ts
Due: unit, integration, Library Code

docs(10.5-03): complete email translations plan
  .planning/STATE.md
Due: none

feat(10.5-05): create LanguageSettings component
  src/components/settings/language-settings.tsx
Due: unit, React Components

feat(10.5-05): add language settings translations
  src/locales/en/settings.json
  src/locales/nl/settings.json
Due: unit

feat(10.5-04): create email template components with branded HTML
  src/lib/email/email-templates.tsx
Due: unit, integration, Library Code

feat(10.5-04): create auth email sending functions with Resend
  src/lib/email/auth-emails.ts
Due: unit, integration, Library Code

feat(10.5-05): integrate LanguageSettings into profile page
  src/components/dashboard/profile-settings.tsx
Due: unit, React Components

docs(10.5-04): complete plan 04 - localized auth email templates
  .planning/STATE.md
Due: none

docs(10.5-05): complete language preference settings UI plan
  .planning/STATE.md
Due: none

fix(10.5): resolve i18n verification gaps - middleware scope and auth emails
  .planning/STATE.md
  .planning/phases/10.5-i18n-completion/10.5-VERIFICATION.md
  middleware.ts
  src/app/api/auth/forgot-password/route.ts
  src/app/api/auth/signup/route.ts
  src/components/auth/forgot-password-form.tsx
Due: unit, integration, e2e, API Routes, React Components

docs: map existing codebase
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
Due: none

fix(i18n): resolve organization settings translation issues
  src/app/dashboard/settings/language/page.tsx
  src/components/dashboard/organization-settings.tsx
  src/locales/en/settings.json
  src/locales/nl/settings.json
Due: unit, e2e, React Components

docs: start milestone v2.3 Twilio WhatsApp Integration
  .planning/PROJECT.md
  .planning/REQUIREMENTS-v2.3.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/config.json
Due: none

docs(phase-21): plan Twilio WhatsApp Core integration
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/21-twilio-whatsapp-core/21-01-PLAN.md
  .planning/phases/21-twilio-whatsapp-core/21-02-PLAN.md
  .planning/phases/21-twilio-whatsapp-core/21-03-PLAN.md
  .planning/phases/21-twilio-whatsapp-core/21-04-PLAN.md
  .planning/phases/21-twilio-whatsapp-core/21-05-PLAN.md
  .planning/phases/21-twilio-whatsapp-core/21-RESEARCH.md
Due: none

feat(21-01): add Twilio WhatsApp database schema
  supabase/migrations/20260203_twilio_whatsapp.sql
Due: none

feat(21-02): add Twilio WhatsApp client library
  src/lib/integrations/twilio-whatsapp/client.ts
  src/lib/integrations/twilio-whatsapp/index.ts
  src/types/twilio-whatsapp.ts
Due: unit, integration, Library Code
